body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flex {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  width: 80%;
  height: 80%;
  overflow: scroll;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: goldenrod;
}

td,
th {
  text-align: left;
  padding: 6px;
}

tr.highlight {
  background-color: yellow;
}
